<div class = "header-message" >
<p class = "message">groupを作成しました</p>
<div>

<div class = "left-contents">
  test-user
  test-group
  さよなら
  sample-group
  hello!
</div>

<div class = "main-contents">
  test-group
  member : test-user

  edit

  test-user  2019/8/30 (fri) 12:45
  こんにちは

  test-user
  さようなら!!


  type a message

  send
</div>