.side-bar
  = render "side-bar"

.chat-main
  .main-header
    .main-header__group-name test-group
    .main-header__menber Menber : test-user
    .main-header__edit-button Edit
  .chat-main__chat-list
    .chat
      .chat__name test-user
      .chat__date 2019/8/31(sat)12:00:00
      .chat__text こんにちは！
  .chat-main__input-box
    .input
      %form{method: "post"}
        %input{placeholder: "type a message", class: "input__text"}
          %label
            %i.fa.fa-image{class: "input__image"}
            %input{name: "file", style: "display:none", type: "file"}
    %input{type: "submit", value: "Send", class: "submit" }