.side-bar
  .user-bar
    .user-bar__name
      = current_user.name
    %li.user-bar__link
      =link_to new_group_path do
        %i.fa.fa-edit
      =link_to edit_user_registration_path do
        %i.fa.fa-cog
  .group-lists
    = render partial: "group"

.chat-main
  .main-header
    .main-header__group-name test-group
    .main-header__menber Menber : test-user
    .main-header__edit-button Edit
  .chat-main__chat-list
    = render partial: "chat"
  .chat-main__input-box
    .input
      %form{method: "post"}
        %input{placeholder: "type a message", class: "input__text"}
          %label
            %i.fa.fa-image{class: "input__image"}
            %input{name: "file", style: "display:none", type: "file"}
    %input{type: "submit", value: "Send", class: "submit" }