<div class = "header">グループを作成しました
</div>
<div class = "side-bar">
  <div class = "user">
    <div class = "user__name">test-user</div>
    <li class = "user__link">
      <i class="fa fa-edit"></i>
      <i class="fa fa-cog"></i>
    </li>
  </div>
  <div class = "group">
    <div class = "group__name">test-group</div>
    <div class = "group__new-chat">test-coment</div>
  </div>
  <div class = "group">
    <div class = "group__name">sample-group</div>
    <div class = "group__new-chat">sample-chat</div>
  </div>
</div>
<div class = chat-main>
  <div class = "main-top">
    <div class = "main-top__group-name">test-group</div>
    <div class = "main-top__menber">Menber : test-user</div>
    <div class = "main-top__edit-button">Edit</div>
  </div>
  <div class = "chat">
    <div class = "chat__name">test-user</div>
    <div class = "chat__date">2019/8/31(sat)12:00:00</div>
    <div class = "chat__text">こんにちは！</div>
  </div>
    <div class = "chat">
    <div class = "chat__name">test-user</div>
    <div class = "chat__date">2019/8/31(sat)13:00:00</div>
    <div class = "chat__text" >さようなら！</div>
  </div>
</div>
<div class = "form-box">
  <div class = "form">
    <div class = "form__text-area">type a message</div>
    <div class = "form__image">
      <form method="post"　>
      <label>
      <i class="fa fa-image"></i>
        <input type="file" id="send-image" name="file" style="display:none">
      </label>
    </div>
  </div>
  <div class = "form-button">
    <div class = "form-button__send">Send</div>
  </div>
</div>
