.form {
  float: left;
  background-color: #fafafa;
  height: 50px;
  width: calc(100% - 195px);
  line-height: 50px;
  margin: 20px 15px 20px 40px;
  &__text-area {
    float: left;
    color: $chat-main-color;
    font-size: 16px;
    padding-left: 10px;
  }
  &__image {
    float: right;
    margin-right: 10px;
  }
}