.main-header {
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  padding: 0 40px;
  position: relative;
  a:visited { 
    color:white;
    text-decoration:none
    }
  &__group-name {
    float: left;
    color: #333333;
    font-size: 20px;
    margin-top: 36px;
  }
  &__menber {
    float: left;
    color: $chat-sub-color;
    font-size: 12px;
    margin-top: 15px;
    clear: both;
    &_list {
      float: left;
    }
    &_name {
      float: left;
      margin-left: 5px;
    }
  }
  &__edit-button {
    float: right;
    height:40px;
    line-height: 40px;
    color: $chat-blue;
    padding: 0 20px;
    border: solid 1px $chat-blue;
    position: absolute;
    top: 28px;
    right: 40px;
    a:visited { 
      color: $chat-blue;
      text-decoration:none
      }
    &_link {
      text-decoration: none;
    }
  }
}