.message {
  margin: 0 0 40px 0;
  &__name {
    float: left;
    color: $chat-main-color;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__date {
    float: left;
    color: $chat-sub-color;
    font-size: 12px;
    margin-left: 10px;
  }
  &__text {
    clear: both;
    color: $chat-main-color;
    font-size: 14px;
  }
  &__image {
    clear: both;
  }
}