.notification {
  .notice {
    background-color: $chat-blue;
    color: $chat-white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $chat-white;
    text-align: center;
  }
}